<h2>Login</h2>
<form class="form login-form">
    <section>
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
    </section>

    <section>
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
    </section>

    <section>
        <button class="btn btn-primary" id="login2" type="submit">Log In</button>
    </section>
</form>
<br>
<button class="signup-button">Sign Up</button>
<script src="/js/login.js"></script>