<h2 class="is-size-3">Sign Up</h2>
<form class="field form signup-form">

    <label class="mt-2 label" for="name-signup">Username:</label>
    <section class="control">
        <input class="input" type="text" id="name-signup" name="name-signup" />
    </section>

        <label class="mt-2 label" for="email-signup">Email:</label>
    <section class="control">
        <input class="input form-input" type="text" id="email-signup" />
    </section>

    
        <label class="mt-2 label" for="password-signup">Password:</label>
    <section class="control">
        <input class="input form-input" type="password" id="password-signup" />
        <button class="mt-4 button is-primary signup-submit" type="button">Sign Up</button>
    </section>
</form>
<br>
<button class="button is-link login-button">Log in</button>
<script src="/js/signup.js"></script>